.currency-content{
    display: flex;
    justify-content: flex-end;
}

.currency-content span{
    cursor: pointer;
    margin: 3px;
}

.currency-selected{
    background-color: #3b82f6 !important;
}